web/.DS_Store
web/node_modules/
web/dist/
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
web/*.log
web/tests/**/coverage/
web/tests/e2e/reports
web/selenium-debug.log
web/# Editor directories and files
web/.idea
web/.vscode
web/*.suo
web/*.ntvs*
web/*.njsproj
web/*.sln
web/*.local
/web/package-lock.json
/web/yarn.lock
shop.exe
